In [1]:
import numpy as np

In [3]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [4]:
a = np.zeros((5))
lenA = a.shape[0]
print(lenA)
for i in range(lenA):
    a[i]=5
a

5

array([5., 5., 5., 5., 5.])

In [7]:
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [8]:
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [9]:
x = np.arange(0,9)
x.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [10]:
np.linspace(0,1,20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [11]:
np.random.rand(1)

array([0.52974597])

In [12]:
np.random.randint(1,21)

16

In [13]:
np.arange(2,13,5).reshape(3,1)

array([[ 2],
       [ 7],
       [12]])

In [14]:
np.arange(16,26).reshape(2,5)

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [15]:
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [16]:
np.arange(0.01,1.01,0.01).reshape(10,10)

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [17]:
np.random.randn(5,5)

array([[-0.09196815, -0.20260262,  0.4900347 ,  1.2288366 , -0.69221825],
       [-1.44345579, -0.6404139 , -0.83869783, -0.03677541,  0.34103169],
       [-1.86941548, -1.4586743 , -0.73034572, -0.93199228, -0.5668813 ],
       [-0.96481935, -0.57334774,  0.44886521,  0.45305075, -1.24057273],
       [ 0.88065554,  0.99924469,  0.83069176, -0.85119962,  1.4100878 ]])

In [19]:
np.ones(5)*5

array([5., 5., 5., 5., 5.])

In [4]:
np.random.randn(5,5)

array([[-0.09046426, -0.64857087,  0.50772975,  1.32790565, -1.09047437],
       [-0.34732658, -0.74219632, -0.98064486, -0.86763825,  0.61459901],
       [ 0.20066299, -1.46002259,  0.95802878, -0.01087648, -1.36045959],
       [ 1.03031613, -1.55390984, -0.88980994, -0.75862238, -0.34771184],
       [-0.07393248,  1.47727195,  0.5950707 ,  2.49215991, -0.23907819]])

In [5]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [6]:
np.array([[12,13,14,15],[17,18,19,20],[22,23,24,25]])

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [11]:
a = np.arange(1,11)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [12]:
a.shape

(10,)

In [21]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [3]:
mat[2:,1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [24]:
mat[3][4]

20

In [25]:
mat[3:4,-1]

array([20])

In [26]:
mat[3:4,r]

array([[20]])

In [11]:
mat[:3,1:2]

array([[ 2],
       [ 7],
       [12]])

In [12]:
mat[:3][1:2]

array([[ 6,  7,  8,  9, 10]])

In [7]:
mat[3:,:]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [3]:
import pandas as pd

In [4]:
dfSal = pd.read_csv('./Salaries-fixed.csv')

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# Melihat 5 data teratas
dfSal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44

In [7]:
dfSal['BasePay'].mean()

66323.65685410085

In [8]:
dfSal['OvertimePay'].max()

245131.88

In [9]:
dfSal[dfSal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [10]:
dfSal[dfSal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [31]:
# topSal = dfSal.iloc[dfSal['TotalPay'].idxmax()]['TotalPay']
# topSal
top = dfSal['TotalPay'].max()
# print(top)

nama =dfSal[dfSal['TotalPay']==top]['EmployeeName']
print(nama)

# print(f'{nama} memiliki gaji tertinggi dengan total : {top}')

0    NATHANIEL FORD
Name: EmployeeName, dtype: object
0    NATHANIEL FORD
Name: EmployeeName, dtype: object memiliki gaji tertinggi dengan total : 567595.43

In [75]:
gaji = dfSal['TotalPay'].max()
# gaji

indeks = dfSal['TotalPay'].idxmax()
# indeks
nama = dfSal.loc[indeks,"EmployeeName"]
# nama

print(f'{nama} dengan pendapatan {gaji}')

NATHANIEL FORD dengan pendapatan 567595.43

In [76]:
dfSal.loc[indeks],["EmployeeName"] #nyobain aja

(Id                                                               1
 EmployeeName                                        NATHANIEL FORD
 JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
 BasePay                                                     167411
 OvertimePay                                                      0
 OtherPay                                                    400184
 Benefits                                                       NaN
 TotalPay                                                    567595
 TotalPayBenefits                                            567595
 Year                                                          2011
 Notes                                                          NaN
 Agency                                               San Francisco
 Status                                                         NaN
 title_len                                                       46
 Name: 0, dtype: object, ['EmployeeName'])

In [71]:
gaji = dfSal['TotalPay'].min()
# gaji

indeks = dfSal['TotalPay'].idxmin()
# indeks

nama = dfSal.loc[indeks,'EmployeeName']
# nama
print(f'{nama} dengan pendapatan {gaji}')

Joe Lopez dengan pendapatan -618.13

In [56]:
dfear = dfSal.groupby('Year')

In [57]:
dfYear.mean()

,Id,BasePay,OvertimePay,TotalPay,TotalPayBenefits,Notes,title_len
Year,,,,,,,
2011,18080.0,63595.956517,4531.065429,71744.103871,71744.103871,NaN,20.696231
2012,54542.5,65436.406857,5023.417824,74113.262265,100553.229232,NaN,18.514415
2013,91728.5,69630.030216,5281.641980,77611.443142,101440.519714,NaN,18.665904
2014,129593.0,66557.437750,5401.426941,75463.918140,100250.918884,NaN,18.702752

In [62]:
dfSal['JobTitle'].nunique()

2159

In [73]:
dfSal['JobTitle'].value_counts()

Transit Operator                          7036
Special Nurse                             4389
Registered Nurse                          3736
Public Svc Aide-Public Works              2518
Police Officer 3                          2421
                                          ...
LAW LIBRARIAN                                1
Auto Body&Fender Wrk Asst Sprv               1
MANAGER, UNIFIED FAMILY COURT SERVICES       1
ZOO CURATOR                                  1
CARPENTER SUPERVISOR II                      1
Name: JobTitle, Length: 2159, dtype: int64

In [69]:
dfSal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [85]:
jobTitle = dfSal['JobTitle']

total = 0

for i in jobTitle:
    if 'CHIEF' or 'Chief' in i:
        total += 1
        

print(f'TOTAL : {total}')

TOTAL : 148654

In [1]:
def CC (x):
    x.count()

In [2]:
dfEco['CC Provider']=='American Express'.apply(CC)

NameError: name 'dfEco' is not defined